/* CSS reset */

* {
  box-sizing: border-box;
}


body {
  width: 600px;
  height: 100%;
  background-color: #666;
  margin: 0;
  padding: 10px;
  border: 1px solid black;
  font-family: "Raleway", sans-serif;
}

img {
  height: 100%;
  width: 100%;
  margin: auto;
}

h1 {
  margin-top: -50px;
  color: #ffffff;
  background-color: #666666;
  opacity: .8;
  text-align: center;
}

h2 {
  color: white;
}

strong {
  color: lightgray;
}

.lead {
  background-color: yellow;
  text-align: center;
  padding: 25px 20px;
  margin: 10px 25px;
  border-radius: 10px;
}

footer {
  text-align: center;
}

caption, table, th, td { border: 1px solid gray;
  border-collapse: collapse;
  max-width: 100%
  }

table {
  margin: 10px;
  width: 98%;
  text-align: center;
}

th {
  background-color: lightgray;
  color: gray;
}
